<h1>Listing blogs</h1>

Remember that this is not the official blog. For that please go <a href="http://the-most-boring-blog-in-the-west.blogspot.com/">here</a>.

<table>
  <tr>
     <td>Blog Entry</td>
  </tr>

<% @blogs.each do |blog| %>
  <tr>
    <td><%= blog.title %></td>
    <td><%= link_to 'Show', blog %></td>
    <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New blog entry', new_blog_path %>
