<HTML>
  <HEAD>
    <LINK REL='stylesheet' TYPE='text/css' HREF='/stylesheets/style.css'/>
    <TITLE>Semantic Blog</TITLE>
  </HEAD>
  <BODY>
<script>
window.onload = function() {
  var inputbox = document.getElementById('search_input');
  inputbox.onkeyup = function(e) {
    e = e || window.event;
    keycode = e.keyCode || e.which;
    if (keycode == 13) {
      getBlogEntry(this.value);
      return;
    }
  }
};

function getXMLHTTPRequest() {
  var xRequest = null;
  if (window.XMLHttpRequest) {
    xRequest = new XMLHttpRequest();
  }
  else if (typeof ActiveXObject != "undefined") {
    xRequest = new ActiveXObject("Microsoft/XMLHTTP");
  }

  return xRequest;
}

var req;

function getBlogEntry(txt) {
  req = getXMLHTTPRequest();
  if (req) {
    req.onreadystatechange = receiveBlogEntry;
    method = "GET";
    url = "/blogs/"+txt+".json";
    params = "";
    req.open(method, url, true);
    req.send(params);
  }
}

function receiveBlogEntry() {
  var ready = req.readyState;
  if (ready == 4) {
    var myObject = JSON.parse(req.responseText);
    document.getElementById('blog').innerHTML = myObject.blog.entry;
  }
}

</script>
    <p>Blog entry #
    <input id="search_input" />
    <div class="blog" id="blog"></div> 
    </p>
  </BODY>
</HTML>

