<HTML>
  <HEAD>
    <LINK REL='stylesheet' TYPE='text/css' HREF='/stylesheets/style.css'/>
    <TITLE>Calais Query Service</TITLE>
  </HEAD>
  <BODY>
    <p>This service is not meant to be called in this manner. This is simply
    an experimental 'web service' so that I can check my understanding of
    how rails works, and ensure that I can stand-up an arbitrary service.
    This is not meant to be a good example of anything.</p>
    <p>Having said that, one of the reasons I chose Calais was because
    there is an associated API key, which I didn't want to have to
    embed into a html or javascript page. I already had a rough ruby
    script for executing Calais queries, so I thought I would just
    re-use it. However, feel free to suggest better or alternative
    ways of achieving the same result! :)<p>
  </BODY>
</HTML>

