<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/twitterations.css" />


<%= javascript_include_tag 'prototype' %>
 
<script type="text/javascript">
 
function queryTwitter() {
  var req = new Ajax.Request("/twitter_trends/1.json", {
          method: 'GET',
          onFailure: function(request) {
            alert('AJAX doesnt work.');
          },
          onComplete: function(request) {
            receiveTwitterResponse( request.responseText);
          }
      });
}
 
function receiveTwitterResponse(results) {
  if (results != "") {
    showStatus("done.");
    var result = JSON.parse(results);
    var point = document.getElementById('twittertrends');
    point.innerHTML = "<ol>";
    for (var i = 0; i < result.length; i++) {
      point.innerHTML += "<li><a href='#' onclick='return queryTopix(\"" + result[i]['twitter_trend']['name'] + "\");' onmouseover=\"window.status = 'click me'; return true;\" onmouseout=\"window.status = ''; return true;\">" + result[i]['twitter_trend']['name'] + "</a></li>";
    }
    point.innerHTML += "</ol>";
  }
  else {
    showStatus("Bad AJAX results");
  }
}
 
function showStatus(message) {
  var status = document.getElementById('status');
  status.innerHTML = message;
}

// Sanitise a string so it can be passed around more easily
// and safely to queryable sources.
function sanitize(string){
  string = string.replace("#","");
  string = string.replace(/ /g, "+");
  string = string.toLowerCase();
  
  return encodeURI(string);
}

function queryTopix(keywords) {
  // Clear out any old data that's hanging about.
  var topix = document.getElementById('topix');
  topix.innerHTML = "";

  var req = new Ajax.Request("/topix/" + sanitize( keywords ) + ".rss", {
          method: 'GET',
          onFailure: function(request) {
            alert('AJAX doesnt work.');
          },
          onComplete: function(request) {
            receiveTopixResponse( request.responseXML );
          }
      });

  return true;
}

function receiveTopixResponse(results) {
  if (results != "") {
    var feeditems = results.getElementsByTagName('item');
    var point = document.getElementById('topix');
    for (var i = 0; i < feeditems.length; i++) {
      point.innerHTML += "<div id='story' class='story'>";
      point.innerHTML += "<a href='" + feeditems[i].getElementsByTagName("link")[0].firstChild.nodeValue + "'>"
                         + feeditems[i].getElementsByTagName("title")[0].firstChild.nodeValue + "</a>";
      point.innerHTML += feeditems[i].getElementsByTagName("description")[0].firstChild.nodeValue;
      point.innerHTML += "<b>Source:</b> " + feeditems[i].getElementsByTagName("source")[0].firstChild.nodeValue;
      point.innerHTML += " <em>(" + feeditems[i].getElementsByTagName("pubDate")[0].firstChild.nodeValue + ")</em>";
      point.innerHTML += "<ul>";
      var categories = feeditems[i].getElementsByTagName('category');
      for (var j = 0; j < categories.length; j++) {
        point.innerHTML += "<li>" + categories[j].firstChild.nodeValue + "</li>";
      }
      point.innerHTML += "</ul>";
      point.innerHTML += "</div>";
    }
  }
  else {
    showStatus("Bad results from Topix");
  }
}
 
Event.observe(window, 'load', function() {
  showStatus("Querying twitter...");
  queryTwitter();
});
 
</script>
<h1>Current Twitter Trends</h1>
<div id="twittertrends" class="twittertrends"></div>
<div id="topix" class="topix"></div>
<div id="status" class="status"></div>
