<html>
<head>
<%= javascript_include_tag 'jquery' %>

<script>
$(document).ready(function() {
  $.getJSON("http://search.twitter.com/trends.json?callback=?", function(data) {
    showStatus("twitter responded.");
    $.each(data.trends, function(i,trend) {
      $("<p>" + trend.name + "</p>").appendTo("#twitter");
      if (i == data.trends.size) return false;
    });
  });
});

function idize(str) {
  str = str.replace(/ /g, "-");
  str = str.replace("#", "hash-");
  str = str.replace("&", "amp-");
  return str;
}

function showStatus(msg) {
  var s_div = document.getElementById('status');
  s_div.innerHTML = msg;
}
</script>
</head>
<body>
<h1>Current Twitter Trends</h1>
<div id="twitter"></div>
<div id="status">Loading twitter trends...</div>
</body>
</html>
