<%= javascript_include_tag 'prototype' %>
 
<script type="text/javascript">
 
function queryTwitter() {
  var req = new Ajax.Request("/twitter_trends/1.json", {
          method: 'GET',
          onFailure: function(request) {
            alert('AJAX doesnt work.');
          },
          onComplete: function(request) {
            receiveTwitterResponse( request.responseText);
          }
      });
}
 
function receiveTwitterResponse(results) {
  if (results != "") {
    showStatus("done.");
    var result = JSON.parse(results);
    var point = document.getElementById('twittertrends');
    point.innerHTML = "<ol>";
    for (var i = 0; i < result.length; i++) {
      point.innerHTML += "<li><a href='#' onclick=''>" + result[i]['twitter_trend']['name'] + "</a></li>";
    }
    point.innerHTML += "</ol>";
  }
  else {
    showStatus("Bad AJAX results");
  }
}
 
function showStatus(message) {
  var status = document.getElementById('status');
  status.innerHTML = message;
}
 
Event.observe(window, 'load', function() {
  showStatus("Querying twitter...");
  queryTwitter();
});
 
</script>
<h1>Current Twitter Trends</h1>
<div id="twittertrends">
</div>
<div id="status">
</div>
