<script type="text/javascript">

function getXMLHTTPRequest() {
  var xRequest = null;
  if (window.XMLHttpRequest) {
    xRequest = new XMLHttpRequest();
  }
  else if (typeof ActiveXObject != "undefined") {
    xRequest = new ActiveXObject("Microsoft/XMLHTTP");
  }

  return xRequest;
}

function queryTwitter() {
  var req = getXMLHTTPRequest();
  if (req) {
    req.onreadystatechange = receiveTwitterResponse;
    req.open("GET", "http://search.twitter.com/trends.json", true);
    req.send("");
  }
}

function receiveTwitterResponse() {
  var ready = this.readyState;
  if (ready == 0) {
    document.getElementById('status').innerHTML = "uninitialised";
  }
  else if (ready == 1) {
    document.getElementById('status').innerHTML = "open";
  }
  else if (ready == 2) {
    document.getElementById('status').innerHTML = "sent";
  }
  else if (ready == 3) {
    document.getElementById('status').innerHTML = "receiving";
  }
  else if (ready == 4) {
    document.getElementById('status').innerHTML = "loaded (" + this.status + " - " + this.statusText + ")";

    if this.status == 200
      var result = JSON.parse(this.responseText);
      var point = document.getElementById('twittertrends');
      for (var i = 0; i < result.trends.length; i++) {
        point.append(document.createTextNode( result.trends[i].name ));
      }
    }
  }
}

window.onload = queryTwitter;

</script>
<h1>Current Twitter Trends</h1>
<div id="twittertrends">
</div>
<div id="status">
</div>
