<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/twitterations.css" />


<%= javascript_include_tag 'prototype' %>
 
<script type="text/javascript">
 
function queryTwitter() {
  var req = new Ajax.Request("/twitter_trends/1.json", {
          method: 'GET',
          onFailure: function(request) {
            alert('AJAX doesnt work.');
          },
          onComplete: function(request) {
            receiveTwitterResponse( request.responseText);
          }
      });
}
 
function receiveTwitterResponse(results) {
  if (results != "") {
    showStatus("done.");
    var result = JSON.parse(results);
    var point = document.getElementById('twittertrends');
    point.innerHTML = "<ol>";
    for (var i = 0; i < result.length; i++) {
      point.innerHTML += "<li><a href='#' onclick='return doQueries(\"" + result[i]['twitter_trend']['name'] + "\");' onmouseover=\"window.status = 'click me'; return true;\" onmouseout=\"window.status = ''; return true;\">" + result[i]['twitter_trend']['name'] + "</a></li>";
    }
    point.innerHTML += "</ol>";
  }
  else {
    showStatus("Bad AJAX results");
  }
}
 
function showStatus(message) {
  var status = document.getElementById('status');
  status.innerHTML = message;
}

// Sanitise a string so it can be passed around more easily
// and safely to queryable sources.
function sanitize(string){
  string = string.replace("#","");
  string = string.replace(/ /g, "+");
  string = string.toLowerCase();
  
  return encodeURI(string);
}

function doQueries(keywords) {
  queryTopix(keywords);
  queryFlickr(keywords);

  return true;
}

function queryTopix(keywords) {
  // Clear out any old data that's hanging about.
  var topix = document.getElementById('topix');
  topix.innerHTML = "";

  var req = new Ajax.Request("/topix/" + sanitize( keywords ) + ".rss", {
          method: 'GET',
          onFailure: function(request) {
            alert('AJAX doesnt work.');
          },
          onComplete: function(request) {
            receiveTopixResponse( request.responseXML );
          }
      });

  return true;
}

function receiveTopixResponse(results) {
  if (results != "") {
    var feeditems = results.getElementsByTagName('item');
    var point = document.getElementById('topix');
    for (var i = 0; i < feeditems.length; i++) {
      var tmp = "<div id='story" + i + "' class='story'>"
                + "<p class='story-header'><a href='" + feeditems[i].getElementsByTagName("link")[0].firstChild.nodeValue + "'>"
                    + feeditems[i].getElementsByTagName("title")[0].firstChild.nodeValue + "</a></p>"
                + "<p class='story-details'>" + feeditems[i].getElementsByTagName("description")[0].firstChild.nodeValue + "</p>"
                + "<p class='story-footer'><b>Source:</b> " + feeditems[i].getElementsByTagName("source")[0].firstChild.nodeValue
                         + " <em>(" + feeditems[i].getElementsByTagName("pubDate")[0].firstChild.nodeValue + ")</em></p>"
                + "<p class='story-categories'>Categories: ";
      var categories = feeditems[i].getElementsByTagName('category');
      for (var j = 0; j < categories.length; j++) {
        if (j > 0) {
          tmp += ", ";
        }
        tmp += categories[j].firstChild.nodeValue;
      }
      tmp += "</p></div>";

      point.innerHTML += tmp;
    }
  }
  else {
    showStatus("Bad results from Topix");
  }
}

function queryFlickr(keywords) {
  // Clear out any old data that's hanging about.
  var flickr = document.getElementById('flickr');
  flickr.innerHTML = "";

  var req = new Ajax.Request("/flickr/" + sanitize( keywords ) + ".json", {
          method: 'GET',
          onFailure: function(request) {
            alert('AJAX doesnt work.');
          },
          onComplete: function(request) {
            receiveFlickrResponse( request.responseText );
          }
      });

  return true;
}

function receiveFlickrResponse(results) {
  if (results != "") {
    showStatus("done.");
    var doc = JSON.parse(results);
    var result = doc['items'];
    var tmp = "";
    var point = document.getElementById('flickr');
    for (var i = 0; i < result.length; i++) {
      tmp += "<img src='" + result[i]['media']['m'] + "'/>";
    }
    point.innerHTML = tmp;
  }
  else {
    showStatus("Bad Flickr results.");
  }
}

 
Event.observe(window, 'load', function() {
  showStatus("Querying twitter...");
  queryTwitter();
});
 
</script>
<h1>Current Twitter Trends</h1>
<div id="twittertrends" class="twittertrends"></div>
<div id="topix" class="topix"></div>
<div id="flickr" class="flickr"></div>

<p><div id="status" class="status"></div></p>
